---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <h1 class="animate text-4xl font-bold tracking-tight text-black dark:text-white">
        Projects
      </h1>
      <div class="animate">
        {projects.length > 0 ? (
          <ul>
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project}/>
              </li>
            ))}
          </ul>
        ) : (
          <p class="text-sm opacity-50 py-4">
            No projects published yet.
          </p>
        )}
      </div>
    </div>
  </Container>
</PageLayout>
